<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.2.1" targetFramework="net45" userInstalled="true" />
  <package id="Fody" version="1.28.3" targetFramework="net45" userInstalled="true" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net45" developmentDependency="true" userInstalled="true" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="xunit" version="2.1.0-beta2-build2981" targetFramework="net46" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.assert" version="2.1.0-beta2-build2981" targetFramework="net46" userInstalled="true" />
  <package id="xunit.core" version="2.1.0-beta2-build2981" targetFramework="net46" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.1.0-beta2-build2981" targetFramework="net46" userInstalled="true" />
  <package id="xunit.runner.visualstudio" version="2.1.0-beta2-build1055" targetFramework="net46" userInstalled="true" />
</packages>