<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
  <package id="NuProj.Common" version="0.11.14-beta" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="portable45-net45+win8" />
</packages>